* { 
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root {
    --softRed: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --textColour: #ffff;
    --cream: hsl(27, 66%, 92%);
    --veryPaleOrange: hsl(33, 100%, 98%);
    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
}
body {
    background-color: var(--cream);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#containers {
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
#summary {
    border: 1px solid transparent;
    width: 25rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: var(--softRed);
    color: var(--textColour);
}
#summary img {
    width: 3rem;
    height: auto;
}
#summary h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
#summary p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
#chart {
    border: 1px solid transparent;
    background-color: var(--veryPaleOrange);
    border-radius: 1rem;
    padding: 2rem;
}
#stats {
    display: flex;
    justify-content: space-between;
}
.line {
    border-bottom: 1px solid var(--cream);
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
}

#overviewMonth h2 {
    font-size: 0.7rem;
    margin: 0;
    font-weight: 400;
    color: var(--mediumBrown);
}
#preMonthStat {
    display: flex;
    flex-direction: column;
}
#preMonthStat p {
    margin: 0;
}
.percentage {
    align-self: end;
}
.total {
    font-size: 2rem;
    font-weight: 700;
    color: var(--darkBrown);
}